**/*.pyc
bin
/shelf/
/workspace.xml
/temp/
/.vscode/
/logs/
/runtime/logs/
/runtime/saves/
/runtime/crash/
/runtime/screenshots/
/jars/logs/
/jars/saves/
/.idea/
/.vscode/
/runtime/crash-reports/
/jars/options.txt
