**/*.pyc
**/.idea
/bin/
/shelf/
/workspace.xml
/temp/
/.vscode/
/eclipse/
/logs/
/runtime/logs/
/runtime/saves/
/runtime/crash/
/runtime/screenshots/
/jars/logs/
/jars/saves/
/runtime/crash-reports/
/jars/options.txt
/jars/assets/
/reobf/
/jars/screenshots/
/jars/events.db
/jars/libraries
/runtime/resourcepacks/
